
body {
    /* Set a background color */
    background-color: lightcyan; /* Replace with your desired color code */
  
    /* OR set a background image */
    /* background-image: url('your-image-file.jpg'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
  }
  
  .center-text {
    text-align: center;
  }

  .center-image {
    display: flex;
    justify-content: center;
  }

  .my-div {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px (0, 0, 0, 0.1);
    margin: 20px;
  }

